# SPDX-FileCopyrightText: Copyright (c) 2023 - 2024 NVIDIA CORPORATION & AFFILIATES.
# SPDX-FileCopyrightText: All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This script is for merge queue purposes only.
# It's role is to post the blossom-ci status to a commit on a temp branch
# in order to clear the branch protection rule.

# It must only ever be run on the `merge_group`.
# Blossom-ci must be run as normal on the PR before a
# merge can even get to the merge queue.

name: blossom-ci-merge-queue-shim

on:
  merge_group:

permissions:
  statuses: write
  contents: read

jobs:
  post-blossom-ci-status:
    name: Post blossom-ci status
    runs-on: ubuntu-latest
    steps:
      - name: Post blossom-ci status
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: context.sha,
              state: "success",
              context: "blossom-ci",
              description: "Auto-pass for merge queue"
            })
